extends layout

block content
  body
    include topbar
    .app--tweet     
      include postTweet
    .bounds.app--body
      include gridHeader
      include tweets
      include users
      include messages
  include js